#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#app-container {
  display: grid;
  grid-template-columns: repeat(14, 4rem);
  grid-template-rows: 4rem 14rem 10rem;
  background-color: aquamarine;
  gap: 0.3rem;
  padding: 0.3rem
}

#weather-container {
  grid-column: 1 / 15;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 2/4;
}

#weather-container .day-tile:not(.current) {
  grid-column: span 2;
}

#weather-container .day-tile.current {
  grid-column: 1/15;
}

#city-menu {
  grid-column: 4 / 12;
  padding: 0;
  display: inline-flex;
  justify-content: space-evenly;
}